*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.gitignore
build.gradle
libs/
proguard-rules.pro
src/
src/androidTest/
src/main/AndroidManifest.xml
src/test/
/.idea/
